.row.title {
    border-bottom: 1px solid #e2dcdc;
    margin-top: 15px;
}
.row.detail {
    align-items: center;
    border-bottom: 1px solid #e2dcdc;
}
.flag.col-md-2.text-center {
    font-size: 80px;
}
.language-list{
    width: 50%;
    margin: 0 auto;
    color: #212529;
    font-size: 0.9rem;
    margin-top: 10px;
}